@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.profile-img {
  padding-block: 10px;
}

*[id*='page'][id$='page'] {
  padding: 30px;
}

*[id*='page'][id$='page'] > div {
  padding-top: 10px;
}
